//
// pagination.scss
//

// Pagination rounded (Custom)
.pagination-rounded {
  .page-link {
    margin: 0 3px;
    border: none;
    border-radius: 30px !important;
  }
}
.page-item.active {
  margin: 0px 10px !important;
}
.page-item.active .page-link {
  background-image: linear-gradient(19deg, #0008ff 0%, #c242ff 100%);
  opacity: 0.8;
  border: none;
  position: relative;
}
.page-item.active .page-link::before {
  content: " ";
  -webkit-filter: blur(20px);
  filter: blur(10px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 9px;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(19deg, #0008ff 0%, #c242ff 100%);
  opacity: 0.6;
}
.page-item.disabled .page-link {
  background-color: #F5F5F6 !important;
}