//
// pagination.scss
//

// Pagination rounded (Custom)
.pagination-rounded {
  .page-link {
    margin: 0 3px;
    border: none;
    border-radius: 30px !important;
  }
}
.page-item.active .page-link {
  background-color: #3757F5 !important;
  border-color: #3757F5 !important;
}